.button {
    border-radius: 3px;
    padding: 5px 24px;
    width: 130px;
    height: 30px;
}

.disabled {
    background-color: #004d99;
    opacity: 0.5;
}

.secondary {
    border: 1px solid #06c;
    border-radius: 3px;
    padding: 5px 24px;
    width: 176px;
    height: 30px;
}

.default {
    background-color: #06c;;
}

.red {
    background-color: #cc1439;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
    background-color: #004d99;
    opacity: 0.5;
}
