.container {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.wrapper {
    display: flex;
    gap: 16px;

}
.slider{
    border-radius: 10px;
    width: 147px;
    height: 4px;

}
.slider-thumb{
    background-color: #0c2;
}

.number {
    font-family:  "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
     line-height: 20px;
    color: #000;
}
